.modal_nav{
    background-color: #3F51B5;
    color:white;
    padding: 10px;
}
.nav__text{
    text-align: center;
}

.content_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description_block{
    display: flex;
}
@media (max-width:900px) {
    .MuiButton{
        padding: 7px 9px;
        font-size: 0.6rem;
    }
}