
.login_main{
    /* background: linear-gradient(90deg,#c31432,#F27121); */
    background: linear-gradient(45deg,#0277bd ,#d32f2f);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
}

.footer_link{
    padding: 5px;
    align-self:center ;
}